body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color: #00754a; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color: #00754a }

.navbar {
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.29);
}

.navbar-left div{
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px
}

.navbar-left div:hover{
    margin-right: 20px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}


.sign-in,
.join-now{
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

.join-now{
    background-color: black;
    color: white;
}

.join-now:hover {
    background-color: rgba(0, 117, 74, 1);
}

.sign-in:hover {
    background-color: rgba(0, 117, 74, 0.15);
}

.join-container {
    padding: 250px 250px 150px 250px;
    text-align: center;
}

.intro-container {
    padding: 50px 150px 50px 150px;
    text-align: center;
    background-color:rgba(0, 117, 74, 1);
}

.join-text-header {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 56px;
    margin-bottom: 10px;
    color: white;
}

.join-text-body {
    padding-bottom: 20px ;
    color: white;
}

.join-button {
    margin-top: 24px;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: black;
    color: white;
    display: inline-block;
}

.join-button:hover{
    background-color: rgba(0, 117, 74, 1);
}

.noHover{
    pointer-events: none;
}

.about-us {
    padding: 60px 40px 40px 120px;
    width: 70%;
    text-align: center;
}

.about-header {
    font-size: 48px;
    font-weight: bolder;
    display: block;
}

.about-text {
    font-size: 20px;
    padding-top: 15px;
}

.timeline {
    padding: 50px 50px 200px 5px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: #00754a;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  .timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  /* LEAVE TILL LAST */
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #00754a;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #00754a;
    border-radius: 50%;
  }
  
  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
  }


.information-container{
    display: flex;
    padding: 80px 40px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
 
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.info-left,
.info-right {
    width: 50%;
    align-items: center;
}

.info-right svg,
.info-left svg{
    display: block;
    margin: auto;
}

.info-header {
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}

.info-description {
    margin-top: 24px;
    margin-bottom:20px;
    font-size: 20px;
    text-align: center;
}

.info-final {
    padding: 60px 200px 60px 200px;
}

.info-final img{
    width: 250px;
}

.title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}

.final-container {
    text-align: center;
    padding: 50px 100px 30px 100px;
    margin-bottom: 20px;
}

.price-box {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 30% 30%;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-text {
    padding: 30px 16px;
}

.card-title {
    font-weight: bold;
    font-size: 22px;
}

.card-price {
    color:#00754a;
    font-weight: bold;
    font-size: 22px;
    padding: 25px 0px 15px 0px;
}

.price-features {
    list-style-position: inside;
    padding-right: 50px;
}

.price-bonus {
    font-size: 14px; 
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
}

ul li {
    margin-bottom: 5px;
}

.footer {
    padding: 50px;
    background-color: #23272a;
    color: white;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(11, 24, 8, 0.85), rgba(255, 255, 255, 1)), url("project.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
